.nav-link-signin {
    color: aliceblue;
    text-decoration: none;
    padding: 0.25rem;
    font-size: x-large;
}

.nav-link-signin:hover {
    color: rgb(184, 235, 235);
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.6s ease;
}

.nav-link-signin:active {
    color: yellow;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.6s ease;
}

h1 {
    font-family: "Roboto", serif;
    font-size: xxx-large;
}

h2 {
    font-family: "Roboto", serif;
    font-size: xx-large;
}

h3 {
    font-family: "Roboto", serif;
    font-size: x-large;
    font-weight: 700;
}

main {
    padding: 65px 5% 5%;
    margin: 0 auto;
    font-family: "Roboto", serif;
}

section, article > h2 {
    margin-top: 18px;
}

#nav-header {
    position: fixed;
    inset: 0;
    width: 100%;
    padding: 15px;
    background-color: #021631;
    display: flex;
    flex-direction: row;
    font-family: "Roboto", serif;
    font-size: x-large;
    font-weight: 700;
    height: 50px;
}

#nav-header a {
    position: relative;
    left: 20px;
}

#nav-header img {
    height: 100%;
    width: auto;
}

/*footer {*/
/*    padding: 30px;*/
/*    background-color: #37425B;*/
/*    color: white;*/
/*}*/

nav ul {
    position: absolute;
    left: 50px;
    top: 22px;
    width: 90%;
    margin: 0;
    padding: 0;
}

header {
    margin: 50px;
    width: 100%;
    background-color: #021631;
    box-sizing: border-box;
}

.top-nav {
    position: fixed;
    z-index: 1000;
    inset: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #021631;
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    z-index: -100;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

#logo-div img {
    width: 50px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(45deg);
    visibility: visible;
}

#menu-toggle:checked + .menu-button-container .menu-button {
    /*background: rgba(255, 255, 255, 0);*/
    visibility: hidden;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    visibility: visible;
    margin-top: 0;
    transform: rotate(-45deg);
}

@media (max-width: 800px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 82px;
        left: 0;
        flex-direction: column;
        width: 100%;
        /*height: calc(100vh - 82px);*/
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 100%;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

.menu-a:link {
    font-family: "Roboto", serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu-a:hover {
    color: lightblue;
    text-decoration: underline;
}

.menu-a:active {
    color: yellow;
}


nav li {
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    position: relative;
    width: 26.67%;
    margin-left: 5% ;
}

nav a {
    width: 50px;
}

nav a:link {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover {
    color: lightblue;
    text-decoration: underline;
}

nav a:active {
    color: yellow;
}

aside {
    background-color: #feff9c;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px dashed #000;
}

#start-section {
    display: flex;
    flex-direction: row;
}

#start-section > p {
    width: 40%;
}

#start-section > aside {
    width: 30%;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/*img {*/
/*    width: 100%*/
/*}*/

.anchor {
    scroll-margin-top: 90px;
}

#img-new-horizons {
    width: 100%;
    z-index: -1;
    top: 105px;
    position: sticky;
}

#img-hubble {
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 15px;
}

#img-apollo {
    float: right;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 15px;
}

address {
    margin-top: 18px;
}

address > a {
    text-decoration: none;
    color: white;
}

#li-hubble {
    list-style: none;
}

form, form:before, form:after {
    font-family: "Roboto", serif;
    font-size: 1.4em;
    box-sizing: border-box;
}

input[type=text], input[type=tel], input[type=password], input[type=email], textarea {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    font-size: 100%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 40%;
}

input[type=text]:hover, input[type=tel]:hover, input[type=password]:hover, input[type=email]:hover, textarea:hover {
    border: 2px solid #aaa;
}

input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    background: lightcyan;
}

select {
    margin: 10px 0;
    font-size: 100%;
    width: 100%;
    padding:10px;
}

fieldset {
    margin: 10px 0;
}

.margin-v {
    margin: 20px 0;
}

input[type=datetime-local], input[type=submit] {
    margin: 10px 0;
    font-size: 100%;
}

button {
    font-size: 100%;
    margin: 10px 5px;
}

input::placeholder, textarea::placeholder {
    font-weight: bold;
    opacity: 0.3;
    color: green;
}


@media (max-width: 800px) {
    #start-section {
        flex-direction: column;
    }
    #start-section > p {
        width: 90%;
    }

    #start-section > aside {
        width: 90%;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #img-hubble, #img-apollo {
        float: none;
        width: 100%;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 800px) {
    .image-gallery {
        flex-direction: row;
    }
    .image-item img {
        max-width: 33vw;
    }
}

#hw6-buttons {
    display: flex;
    flex-direction: column;
}

.custom-btn {
    font-size: large;
    width: 170px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}

.custom-btn:hover {
    scale: 1.05;
    position: relative;
}

#button-1 {
    border: none;
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}

#button-1:active {
    transform: translateY(5px);
}

#button-2 {
    border: none;
    background: linear-gradient(0deg, #021631 0%, darkblue);
    overflow: hidden;
}

#button-2:active {
    scale: 1.1
}

#button-3 {
    border: none;
    background: linear-gradient(#feff9c, yellow);
    color: #021631;
}

#button-3:hover {
    transform: rotate(4deg);
}

#button-3:active {
    transform: scale(1.15) rotate(-2deg);
}

#button-4 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 60px;
    padding: 0;
    border: none;
}
#button-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
#button-4:before,
#button-4:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
#button-4::before{
    height: 0%;
    width: 2px;
}
#button-4::after {
    width: 0%;
    height: 2px;
}
#button-4:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
#button-4:hover::before {
    height: 100%;
}
#button-4:hover::after {
    width: 100%;
}
#button-4 span::before,
#button-4 span::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0 rgba(255,255,255,.9),
            -4px -4px 5px 0 rgba(255,255,255,.9),
            7px 7px 20px 0 rgba(0,0,0,.2),
            4px 4px 5px 0 rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
#button-4 span:before {
    width: 2px;
    height: 0;
}
#button-4 span:after {
    height: 2px;
    width: 0;
}
#button-4 span:hover:before {
    height: 100%;
}
#button-4 span:hover:after {
    width: 100%;
}

.notification {
    position: relative;
    display: inline-block;
    width: 200px;
}

.notification-button {
    background: white;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.notification-button img {
    position: relative;
    z-index: 100;
    width: 32px;
}

.notification-list {
    transition: visibility 0.3s ease, opacity 0.3s ease;
    list-style: none;
    z-index: 10;
    position: absolute;
    left: 0;
    top: -10px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
}

.notification-item:first-child {
    margin-top: 48px;
}

.notification-item {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
}

.notification-item:hover {
    background-color: lightpink;
}

.notification-button:hover + .notification-list,
.notification-list:hover {
    visibility: visible;
    opacity: 1;
}

#hw6-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    font-size: x-large;
    position: relative;
    max-width: 28vw;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 800px) {
    #hw6-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .card {
        max-width: 400px;
        width: 100%;
    }
}

.card img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: xx-large;
    color: #333;
    font-weight: 700;
}

.card:hover img {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: large;
    color: #777;
    line-height: 1.4;
}

#hw6-video {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.video {
    position: relative;
}

.video video {
    width: 80vw;
    height: 80vh;
}

.video__description {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s linear;
    height: 40%;
    width: 40%;
    margin-left:-50px;
    padding:10px;
    margin-top:17px;
    background:#f3f3f3;
    top: 25%;
    z-index: 99;
    position: absolute;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .video__description {
        font-size: small;
    }
}

.video:hover .video__description {
    visibility: visible;
    opacity: 1;
}

/*
*/

:root {
    --main-color: #3d9ef6;
    --second-color: #005199;
    --light-main-color: #4284d3;
    --purple: rgb(70, 84, 246);
    --light-purple: #a8b1ff;
    --gray: #282e3e;
    --soft-gray: #cccccc;
    --white: white;
    --hover-text-transition: 0.1s;
}

.footer {
    font-family: "Roboto", serif;
    background-color: #37425B;
    color: white;
    width: 100%;
    box-sizing: border-box;
    /*padding: 0;*/
    margin: 0;
    /*inset: 0;*/
}

.footer .footer-container {
    font-size: 1.2rem;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
}

.footer .footer-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footer .footer-container h2::after {
    content: '';
    display: block;
    margin-top: 0.4rem;
    width: 30%;

    border-bottom: 3px solid var(--light-purple);
    border-radius: 1px;
    transition: 0.2s ease-in-out;
}

.footer .footer-container .about:hover h2::after,
.footer .footer-container .nav:hover h2::after,
.footer .footer-container .contact:hover h2::after {
    width: 50%;
}

.footer .footer-container .about .social-icons {
    margin-top: 0.7rem;
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.footer .footer-container .about .social-icons .social-icon i {
    font-size: 2.5rem;
    list-style: none;
    color: white;
    /*color: var(--gray);*/
    text-decoration: none;
    transition: var(--hover-text-transition) linear;
}

.footer .footer-container .about .social-icons .social-icon i:hover {
    color: var(--purple);
}

.footer .nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer .nav .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
    padding: 0;
}

.footer .nav .nav-menu a {
    text-decoration: none;
    transition: var(--hover-text-transition) linear;
    color: white;
    /*color: var(--gray);*/
}

.footer .nav .nav-menu a:hover {
    color: var(--purple);
}

.footer .footer-container .contact .contact-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.8rem;
}

.footer .footer-container .contact .contact-list .contact-list-item a {
    display: flex;
    gap: 0.6rem;
    text-decoration: none;
    transition: var(--hover-text-transition) linear;
    color: white;
    /*color: var(--gray);*/
}

.footer .footer-container .contact .contact-list .contact-list-item a:hover {
    color: var(--purple);
}

.container-cards {
    display: grid;
    height: 100vh;
    padding: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 1fr;
    gap: 0.4rem;
    grid-template-areas:
    "content1 content1 content2 content3"
    "content4 content5 content2 content6"
    "content4 content7 content7 content7";
}

.container-cards div {
    color: white;
    background-color: #515151;
    display: flex;
    border-radius: 0.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.3rem;
    transition: transform ease-in-out 0.3s;
}

.container-cards div:hover {
    background-color: rgb(233, 30, 99);
    transform: scale(1.02);
    z-index: 100;
}

.container-cards div img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.content4 {
    grid-area: content4;
}

.content5 {
    grid-area: content5;
}

.content6 {
    grid-area: content6;
}

.content7 {
    grid-area: content7;
}

#button, #button-ask-login, #button-special {
    background-color: black;
    color: white;
}
